/* General Design Settings */
/* #region General */
@font-face{
    font-family: 'Open Sans';
    font-style: normal;
    src:url(./fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face{
    font-family: 'Edu';
    font-style: normal;
    src: url(./fonts/EduNSWACTCursive-VariableFont_wght.ttf);
}
/* #endregion */

/* Header Design Settings */
/* #region Headers */
h1{
    font-family: Edu;
    text-align: center;
    color:rgb(24, 24, 233);
}

h2{
    font-family: Open Sans;
    font-weight: bold;
    margin: 1% 1%;
    padding: none;
}
/* #endregion */

/* Contact List */
/* #region Contact List */
ul{
    list-style-type: none;
    padding: 0% 2% 0% 2%;
}

.contactPhoto{
    height: 150px;
    width: auto ;

}

.contact{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.contact > button > img{
    height: 35px;
    width: auto;
}

.contact > button{
    background-color: white;
    border: none;
}

.contact > p{
    margin: 5% 0% 0% 0%;
    padding: 0% 0% 2% 5%;
    font-size: 25px;
}

.infoButton{
    margin-left: auto;
}

.removeButton{
    margin-right: 1%;
}

/* #endregion */ 

/* Icons */
/* #region Icons */
button{
   background-color: white;
    border: none; 
   
}

button :hover{
    background-color: rgb(182, 182, 182);
}

.editList > img{
    height: 45px;
    width: auto;
}

.editList{
    margin-left: 90%;
}

/* #endregion */

/* Body and wrapper */
/* #region Body */
body{
    background-color: rgb(224, 237, 245);
}

.wrapper{
    background-color: white;
    width: 90%;
    height: auto;
    margin: auto;
    padding-bottom: 5%;
}
/* #endregion */

/* Footer */
/* #region Footer*/
footer{
    background: rgb(224, 237, 245);
    color: rgb(24, 24, 233);
     text-align: center;
     font-family: Open Sans;
}
/* #endregion */

/* Modal */
/*#region Modal*/
.modal{
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height:  100%;
    background: rgba(0 , 0 , 0, 0.5);
}

.modal-content{
    background: white;
    margin: 10% auto;
    padding: 2em;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.modal .close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
}

.contactName{
    text-align: center;
    font-size: 35px;
    cursor: default;
}

.contactDetails{
    font-size: 25px;
    cursor: default;
}

/*#endregion*/

/* Paragraphs */
/* #region Paragraphs */
p{
    font-family: Open Sans;
}
/* #endregion */